Repository DanielSeehausen/fi-field-day, pull requests merged in 2018-08, with the labels that each got.

#35 command line arg for total group count for npm start
  code/node-server/README.md
  code/node-server/config.js
  code/node-server/index.js
Labels: enhancement, node-server

#36 generate groups based on config high group limit
  code/node-server/index.js
  code/node-server/src/app/game.js
  code/node-server/src/app/group.js
Labels: enhancement, node-server

#37 create achievements class; still needs more expansion
  code/node-server/src/app/achievements.js
  code/node-server/src/app/group.js
Labels: enhancement, node-server

#52 add ability to track number of errors and error types
  code/browser-canvas-client/HTTPConn.js
  code/node-server/src/app/achievements.js
  code/node-server/src/app/group.js
  code/node-server/src/middleware/validator.js
Labels: enhancement, node-server

#59 fixes #56 and #57
  code/browser-canvas-client/CanvasManager.js
  code/browser-canvas-client/Dragger.js
Labels: bug, canvas, enhancement

#60 34 netstat server
  code/nexus/package.json
  code/node-server/index.js
  code/node-server/src/app/_group.js
  code/node-server/src/app/group.js
  code/node-server/src/app/netstat.js
  code/node-server/src/middleware/reqValidators/validID.js
  code/node-server/src/middleware/validator.js
Labels: node-server

#46 Python client
  code/user-clients/nexus/server.js
  code/user-clients/node-client/MatrixManager.js
  code/user-clients/node-client/README.md
  code/user-clients/node-client/app.js
  code/user-clients/node-client/package.json
  code/user-clients/python-client/MatrixManager.py
  code/user-clients/python-client/README.md
  code/user-clients/python-client/__init__.py
  code/user-clients/python-client/__pycache__/MatrixManager.cpython-37.pyc
  code/user-clients/python-client/get-pip.py
  code/user-clients/python-client/index.py
  code/user-clients/ruby-client/Gemfile
  code/user-clients/ruby-client/MatrixManager.rb
  code/user-clients/ruby-client/README.md
  code/user-clients/ruby-client/app.rb
Labels: enhancement, node-client, python-client, ruby-client

#64 55 ui redesign
  code/browser-canvas-client/index.html
  code/browser-canvas-client/index.js
  code/browser-canvas-client/style.css
Labels: bug, canvas, enhancement
